button {
  appearance: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: white;
  box-shadow: none;
  border: none;
  padding: .5rem 2rem;
  cursor: pointer;
  margin: 1rem;
  transition: background .2s ease-in-out;
  background: $color-dark-purple;

  &:hover {
    background: $color-light-purple;
  }

  @include mobile-only {
    padding: .5rem;
    margin: .5rem;
  }
}

input {
  padding: .5rem;
  border-radius: 5px;
  appearance: none;
  border: 1px solid $color-dark-purple;
}
