$font-size: 16px;
$layout-width: 1280px;
$mobile-layout-width: 767px;
$main-container-padding: 1rem;

/* Thumbnails */
$thumbnail-aspect-ratio: 4/3;
$thumbnail-margin: .5rem;

/* Colors */
$color-dark-purple: #31273b;
$color-light-purple: #b1739b;

